table {
  border-collapse: separate;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 75%;
  color: black;
  text-align: center;
  border:solid black 1px;
  border-radius: 25px;
  border-width: 0.25px;
  font-family: 'Carrois Gothic SC', sans-serif;
}

table thead tr {
  background-color: #f3f3f3;
  color: #000;
  text-align: center;
  border: 1px solid black;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid black;

}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: black;
}

table tbody tr:last-of-type {
  border-bottom: 1px solid black;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

img {
  width: 1.5rem;
}

.pagination {
  font-family: 'Carrois Gothic SC', sans-serif;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  color: black;
}

.page {
  padding: 0.5rem;
}